body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to right,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

.wrapper {
  display: flex;
  position: relative;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1280px;
  background-image: linear-gradient(
    to right,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  padding: 20px;
  margin: auto;
}
.score_board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  outline: 2px solid hsl(217, 16%, 45%);
  padding: 10px;
  border-radius: 8px;
}
.score_board .rpsls_header {
  max-width: 80px;
}
.score_board .rpsls_header img {
  width: 100%;
}
.rpsls img {
  width: 100%;
}
.scores {
  display: flex;
  gap: 10px;
}
.score {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
}
.score p {
  text-align: center;
}
.score_text {
  color: hsl(229, 64%, 46%);
  margin: 0;
}
.score_num {
  color: hsl(229, 25%, 31%);
  font-weight: bold;
  font-size: 2em;
  margin: 0;
}
.rpsls {
  position: relative;
  margin: 30px 0;
  min-height: 350px;
}
.pentagon {
  position: relative;
  max-width: 300px;
  margin: auto;
  opacity: 1;
  transition: opacity 0.25s;
}
.hidepentagon {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
#scissors img,
#paper img,
#rock img,
#lizard img,
#spock img {
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  width: 80px;
  height: 80px;
  position: absolute;
  cursor: pointer;
  object-fit: scale-down;
}

#scissors img {
  top: -10px;
  right: 110px;
  border: 10px solid hsl(39, 89%, 49%);
}
#paper img {
  right: -10px;
  top: 90px;
  border: 10px solid hsl(230, 89%, 62%);
}
#rock img {
  right: 16px;
  top: 220px;
  border: 10px solid hsl(349, 71%, 52%);
}
#lizard img {
  left: 12px;
  top: 220px;
  border: 10px solid hsl(261, 73%, 60%);
}
#spock img {
  left: -12px;
  top: 90px;
  border: 10px solid hsl(189, 59%, 53%);
}

.rules {
  text-align: center;
}
.rules button {
  background-color: transparent;
  border-radius: 8px;
  padding: 16px 32px;
  border: 1px solid hsl(217, 16%, 45%);
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  transition: background-color 0.25s;
}
.rules button:hover {
  background-color: hsl(39, 89%, 49%);
  color: #222;
  border-color: hsl(39, 89%, 49%);
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s, visibility 0.25s;
}
.addmodal {
  visibility: visible;
  opacity: 1;
}
.game_rule {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  padding: 10px;
  border-radius: 8px;
}
.game_rule img {
  max-width: 100%;
}
.close-modal {
  border: 1px solid hsl(217, 16%, 45%);
  height: 25px;
  width: 25px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose {
  display: flex;
  position: relative;
  max-width: 300px;
  margin: auto;
  justify-content: space-between;
  color: #fff;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s;
}
.choose p {
  text-align: center;
}
.showchoose {
  visibility: visible;
  position: static;
  opacity: 1;
}
@keyframes gradient {
  from {
    box-shadow: 2px 2px 5px 20px hsl(217, 16%, 45%),
      2px 2px 5px 40px hsl(214, 47%, 23%), 2px 2px 5px 80px hsl(237, 49%, 15%);
  }
  to {
    box-shadow: 2px 2px 10px 10px hsl(217, 16%, 45%),
      2px 2px 10px 20px hsl(214, 47%, 23%), 2px 2px 10px 40px hsl(237, 49%, 15%);
  }
}
.gradient {
  box-shadow: 2px 2px 0px 20px hsl(217, 16%, 45%),
    2px 2px 0px 40px hsl(214, 47%, 23%), 2px 2px 0px 80px hsl(237, 49%, 15%);
  /*animation*/
  animation-name: gradient;
  animation-duration: 4s;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
}

.spot {
  background-color: hsl(237, 49%, 15%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

.computer-choice {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
}
.display {
  visibility: visible;
  opacity: 1;
}
.my-choice div,
.computer-choice div {
  border-radius: 50%;
  background-color: #fff;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50px;
  max-height: 50px;
  margin: auto;
}
.win {
  max-width: 300px;
  margin: auto;
  text-align: center;
  opacity: 0;
  /* display: none; */
  position: absolute;
  visibility: hidden;
  transition: opacity 0.25s;
}
.showwin {
  /* display: block; */
  visibility: visible;
  position: static;
  opacity: 1;
}
.win h2 {
  margin-top: 60px;
  color: #fff;
}
.win button {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 32px;
  border: 1px solid hsl(217, 16%, 45%);
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
}
.win button:hover {
  background-color: hsl(39, 89%, 49%);
  color: #222;
  border-color: hsl(39, 89%, 49%);
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}
@media screen and (min-width: 768px) {
  header {
    /* margin: 0 100px; */
  }
  .score_board {
    max-width: 600px;
    margin: auto;
  }
  .wrapper {
    /* min-height: 80vh; */
    gap: 20px;
  }
  .rules {
    text-align: right;
  }
  .rules button:hover {
    background-color: hsl(215, 73%, 9%) hsl(238, 88%, 6%);
    cursor: pointer;
  }
}
